@model TheConsortiumApp.Models.Gasto

<h2>Nuevo Gasto</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Concepto</label>
        <input asp-for="Concepto" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Categoría</label>
        <div class="mb-3">
            <label class="form-label">Categoría</label>
            <select asp-for="Categoria" class="form-control">
                <option value="">Seleccione...</option>
                <option value="Sueldos">Sueldos</option>
                <option value="Mantenimiento">Mantenimiento</option>
                <option value="Servicios">Servicios</option>
                <option value="Honorarios">Honorarios</option>
                <option value="Limpieza">Limpieza</option>
                <option value="Seguros">Seguros</option>
                <option value="Otros">Otros</option>
            </select>
            <span asp-validation-for="Categoria" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label>Monto</label>
        <input asp-for="Monto" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Fecha</label>
        <input asp-for="FechaRegistro" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Consorcio</label>
        <select asp-for="ConsorcioId" class="form-control">
            <option value="">Seleccione</option>

            @foreach (var c in ViewBag.Consorcios)
            {
                <option value="@c.Id">@c.Nombre</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>